node_modules/
.idea
venv
.venv
log
__pycache__/
*.py[cod]
report
outputs
.pabotsuitenames
properties.py
pabot_results
docs
output.xml
log.html
report.html
.vscode
interactive_console_output.xml
*.png

